.overall-container{
    max-width:960px;
    min-width:320px; 
    margin:auto; 
    padding-top: 2rem; 
    padding-bottom: 3rem; 
    padding-left: 5rem;
    padding-right: 5rem;
    
    background-color:rgb(245, 245, 245); 
}

h1,h2{
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-weight: bold;
    color: rgb(228, 91, 67); 
}
h1{
    font-size: 35pt; 
    margin-bottom: 1.5rem; 
}
h2{
    font-size:20pt; 
    margin-bottom:1rem; 
}
h3{
    text-align: center;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
   }

img{
    display:block; 
    margin:auto; 
    padding-bottom:1rem; 
    padding-top:0.5rem;
    width: 90%;
}
header > div{
    width:90%; 
    margin:auto;
}

.grid{
    display:flex; 
    flex-wrap:wrap; 
    padding-left:0;
    /* padding-top:2rem;  */
    padding-bottom: 3rem; 
    list-style-type: none;
}

@media (min-width: 640px){
    .half-box{
        width: 45%;
        padding-right:5%;  
    }
    h1{
        font-size:50pt; 
    }
    h2{
        font-size:25pt; 
    }
    
}

.add_info{
    font-size:14pt; 
    color: rgb(235, 187, 67); 
    font-weight:400;
}

.em_info{
    font-size:14pt; 
    color: rgb(228, 91, 67); 
    font-weight:500;
}
.step{
    padding-top: 1.5rem; 
    font-size:14pt; 
    line-height:1.4rem;
    color: rgb(235, 187, 67); 
    font-weight:500;
}
.step_descript{
    font-size:11.5pt; 
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    color: black;
}
#first_step{
    padding-top:0; 
}
.ingre_list{
    font-size: 13pt; 
    padding-top:1rem; 
    line-height: 1.5rem;
    padding-bottom: 1rem;
}
.add_notes{
    padding-left:5%;
    padding-right:10%; 
    padding-top: 1rem; 
}
a:visited{
    color:rgb(153, 42, 30); 
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
    color: rgb(235, 187, 67); 
}