
html{
    background-image: linear-gradient(180deg,rgba(68,126,182,1) 0%, rgba(0,11,37,1) 100% );
    
}

#outcontainer{
    position:fixed;
    top: 0px;
    margin-left:-150px; 
    left: 50%;
    transform: translate(-50%, 0); 
}
#album{
    position: absolute;
    width: 300px;

}
a{
    text-align: center;
}
#box{
    position: absolute; 
    top:9px;
    left:9px; 
    width: 280px;
    height: 280px; 
    border: solid rgb(226, 239, 250) 2px;
}
.audio{
    font-size:12px; 
    font-style: italic;
}


.lyric{
    position:relative;
    text-align:center; 
    
}

.begin{
    color:rgb(226, 239, 250); 
    text-align: center;
    display:block;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#spacer{
    position: absolute;
    top: 320px; 
}
h1{
    line-height: 50px; 
    font-size: 50px; 
    font-align: center; 
}
h3{

    font-size:17px; 
}
p{
    line-height: 10px;
    
}
.section{
    font-style:italic; 
}
.chorus{
    color:lightsalmon; 
}
.verse{
    color:lightcoral; 
}
.bridge{
    color:coral; 
}
.prechorus{
    color: rgb(223, 173, 173); 
}

#copyright{
    color: whitesmoke; 
    font-size: 10px; 
}

